body {
  background-color: #e3e1fa;
  margin: 30px;
}


.results-button {
  margin-top: 30px;
}

.checkmark {
  position: relative;
  left: 50px;
  width:10%;
}

.xmark {
  position: relative;
  left: 50px;
  width: 10%;
}

.correct-answer {
  display: flex;
}

.buttonUnclicked {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background-color: rgb(213, 221, 230);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.buttonClicked {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #303030;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.buttonTrue{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: green;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.buttonFalse {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.four-buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-bottom: 50px;
  justify-content: center;
  gap: 10px;
}

.true-false {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
}

.results-button {
  display: grid;
  justify-content: center;
  margin-bottom: 20px;
}

.green-text {
  color:#32CD32
}

.red-text {
  color: red;
}

.title {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}
